

nav>ul>li{
    background-color: none;
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 15px;
}
nav li> a{
    text-decoration: none;
}
.foot{
    text-align: center;
}
body>header{
    text-align: center;

}